@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body {
  font-family: 'Droid Arabic Naskh', serif !important;
  font-weight: bold !important;
}

.hoverButoon:hover{
  border-bottom: 4px black solid !important;
}

.invoic_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 200px;
}

.invoic_table_Prop1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.invoic_table_Prop1 td,th {
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  padding: 9px;
}

.invoic_table td, th {
  border: 1px solid #dddddd;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.invoic_propr{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 13px !important;
}

.ivoic_p{
  padding: 5px;
  padding-top: 10px;
  width: 120px;
  font-family: arial, sans-serif;
  margin-left: 10px;
  border: 1px solid #dddddd;
  font-weight: bold;
  font-size: 12px;
}



.backImage {
  position: absolute;
  left: 0;
  right: 30%;
  top: 30%;
  bottom: 0;
  opacity: 0.2;
  width: 35%;
  border-radius: 30%;
  height: auto;
}

.hide_invioc{
  display: none;
}











.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_check:checked + .slider {
  background-color: #2196F3;
}

.toggle_check:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle_check:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.margining_table{
  margin: 50px !important;
  padding: 50px !important;
  cursor: pointer;
}
.margining_table:hover{
  background-color: #334155;
  font-weight: bolder;
  color: white;
}


.smtextin{
  font-size: 13px !important;
  font-weight: bold !important;
}

.smalling_text p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9px;
}
.smalling_text_1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9px;
}

.hight_for_table_list{
  height: 50rem;
}
.styling_lines_lists{
  font-size: 15px;
}


.test-fontt{
  font-family: 'Almarai', sans-serif !important;
}

.bordering_list{
  cursor: pointer;
}
.bordering_list:hover{
  border: 2px solid black;
  color: #2196F3;
}
